In [1]:
import pandas as pd

In [8]:
#QUESTION:1

Survey=pd.read_excel('Sample_Survey.xlsx',sheet_name="Data")

In [7]:
Survey.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,2020-08-24,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,2020-08-24,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,2020-08-24,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,2020-08-24,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,2020-08-24,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [9]:
#QUESTION:2
Survey.groupby('collection_date').count()['response_id']

collection_date
2020-08-24    1479
2020-08-25     998
2020-08-26     598
2020-08-27     665
2020-08-28     761
2020-08-29     620
2020-08-30     582
2020-08-31     557
2020-09-01     607
Name: response_id, dtype: int64

In [11]:
#QUESTION:3

Survey['age'] = pd.to_numeric(Survey['age'], errors='coerce')
Survey.dropna(subset=['age'], inplace=True)
total_respondents = len(Survey)
respondents_under_45 = len(Survey[Survey['age'] < 45])
proportion_under_45 = respondents_under_45 / total_respondents

print(proportion_under_45)

0.9318380425284009

In [18]:
#Question:4

def age_group(e):
    if(e in range(18,25)):
        return "18-25"
    if(e in range(25,40)):
        return "25-40"
    if(e in range(40,55)):
        return "40-55"
    if(e in range(55,120)):
        return "55+"

Survey['age-group']=Survey['age'].apply(age_group)
Survey.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight,age-group
0,1,2020-08-24,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26.0,Male,211,Gen,0.346969,25-40
1,2,2020-08-24,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34.0,Male,189,BC,0.603419,25-40
2,3,2020-08-24,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25.0,Male,191,Gen,0.673762,25-40
3,4,2020-08-24,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36.0,Male,194,Gen,1.101298,25-40
4,5,2020-08-24,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22.0,Male,176,BC,0.333505,18-25

In [39]:
#Question:5

sample=Survey.groupby('age-group').count()
sample[['response_id']]

           response_id
age-group
18-25             2093
25-40             3844
40-55              801
55+                128

In [46]:
print("Max : ",sample['response_id'].max())

Max :  3844

In [48]:
#QUESTION:6
print(len(Survey[(Survey['Past_Vote']=='RJD') & (Survey['Vote_Now']=='RJD')])/len(Survey))

0.1181182639091174